[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
	shallow = true
[submodule "ai.robots.txt"]
	path = vendor/ai.robots.txt
	url = https://github.com/ai-robots-txt/ai.robots.txt
	shallow = true
