{{- $rawLang := .Type | default "" -}}
{{- $langAliases := dict
  "anki" "text"
  "conf" "ini"
  "git" "bash"
  "gitconfig" "ini"
  "gitdiff" "diff"
  "gotemplate" "go-template"
  "graphviz" "text"
  "hjson" "json"
  "logseq" "markdown"
  "none" "text"
  "shell" "bash"
  "text" "plaintext"
-}}
{{- $lang := $rawLang -}}
{{- with index $langAliases $rawLang }}
  {{- $lang = . -}}
{{- end }}
{{- if eq $lang "" }}
  {{- $lang = "plaintext" -}}
{{- end }}
{{- $label := $rawLang -}}
{{- if eq $label "" }}
  {{- if ne $lang "plaintext" }}
    {{- $label = $lang -}}
  {{- end }}
{{- end }}
<div class="codeblock"{{ if $label }} data-lang="{{ $label }}"{{ end }}>
   {{- if $label }}
   <div class="codeblock-header">
     <span class="codeblock-language">{{ $label }}</span>
     <button class="codeblock-copy" type="button" data-copy-code>Copy</button>
   </div>
   {{- end }}
   <pre><code class="language-{{ $lang }}">{{ .Inner }}</code></pre>
</div>
