<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{- with .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ . | absURL }}" />
  {{- end }}

  {{- with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- with .Site.BaseURL }}
  <link rel="canonical" href="{{ . | absURL }}" />
  {{- end }}

  {{- partial "style.html" . -}}

  {{- with .Site.Params.appleTouchIcon }}
  <link rel="apple-touch-icon" href="{{ . | absURL }}">
  {{- end }}
</head>

<body>
  <header>
    <a href="{{ "" | relURL }}" class="title">
      <img src='{{ "thiagowfx.png" | absURL }}' alt="{{ .Site.Title }}" style="height: 2em;" />
      <h2>{{ .Site.Title }}</h2>
    </a>
    <nav>
      <a href="{{ "" | relURL }}">Home</a>
      {{- range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{- end }}
    </nav>
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    <span>{{ site.Copyright | markdownify }}</span>
  </footer>
</body>

</html>
