{{- define "main" }}
<content>
  {{- $pages := where .Pages "Site.Language.Lang" .Site.Language.Lang }}
  {{- if and (not .Data.Singular) (eq .Type "section") }}
    {{- $filteredPages := slice }}
    {{- range $pages }}
      {{- if not (in .Params.categories "coding") }}
        {{- $filteredPages = $filteredPages | append . }}
      {{- end }}
    {{- end }}
    {{- $pages = $filteredPages }}
  {{- end }}

  <h2 id="posts">
    {{- if .Data.Singular }}
      {{- if eq .Section "tags" }} {{ i18n "postsTaggedWith" }} #{{ .Name }}
      {{- else if eq .Section "categories" }} {{ i18n "postsCategorizedAs" }} %{{ .Name }}
      {{- end }} ({{ len .Pages }})
    {{- else }} {{ i18n "allPosts" }} ({{ len $pages }}) {{- end }}
    <a href='{{ (.OutputFormats.Get "RSS").Permalink }}' class="rss-link" title="RSS feed"><svg xmlns="http://www.w3.org/2000/svg" aria-label="RSS" role="img" viewBox="0 0 512 512" height="1em" width="1em"><path d="m0 0H512V512H0" fill="#f80"/><path fill="#fff" d="m109 271A132 133 0 01241 403h60A192 193 0 00109 211v-54A246 247 0 01355 403h60A306 307 0 00109 97m35 235a35 35 0 102 0"/></svg></a>
  </h2>

  {{- if .Data.Singular }}
   {{- if eq .Section "tags" }}
   {{- partial "search-widget.html" (dict "contentSelector" "#posts-content" "includeTags" (slice .Name) "lang" .Site.Language.Lang) }}
   {{- else if eq .Section "categories" }}
   {{- partial "search-widget.html" (dict "contentSelector" "#posts-content" "includeCategories" (slice .Name) "lang" .Site.Language.Lang) }}
   {{- end }}
   {{- else }}
   {{- partial "search-widget.html" (dict "contentSelector" "#posts-content" "excludeCategories" (slice "coding") "lang" .Site.Language.Lang) }}
   {{- end }}

  <div id="posts-content">
  {{- if and .Data.Singular (eq .Name "coding") }}
  <!-- Cumulative Problems Solved Graph -->
  <div style="margin: 2rem 0;">
    <h3>Progress</h3>
    <canvas id="cumulative-chart" style="width: 100%; height: 400px;"></canvas>
  </div>
  {{- end }}


  {{ $currentYear := now.Year | printf "%d" }}
  {{ $pagesGroupedByYear := $pages.GroupByDate "2006" }}

  {{ if not $pagesGroupedByYear }}
    <ul class="blog-posts">
      <li>No posts yet</li>
    </ul>
  {{ else }}
    {{ range $i, $group := $pagesGroupedByYear }}
    <details class="year-group" {{ if eq $group.Key $currentYear }}open{{ end }}>
      <summary><strong>{{ $group.Key }}</strong> ({{ len $group.Pages }} {{ if eq (len $group.Pages) 1 }}post{{ else }}posts{{ end }})</summary>
      <ul class="blog-posts">
        {{ $lastDate := "" }}
        {{ range $group.Pages }}
        {{ $currentDate := .Date.Format "02 Jan, 2006" }}
        <li>
          <span>
            <time
              datetime='{{ .Date.Format "2006-01-02" }}'
              pubdate
              class="pubdate-list"
            >
              {{ if ne $currentDate $lastDate }}
                {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
              {{ end }}
            </time>
          </span>
          <a href="{{ .Permalink }}">
            {{- if in .Params.tags "bestof" }}
            <span>★</span>
            {{- end }} {{ .Title }}
          </a>
        </li>
        {{ $lastDate = $currentDate }}
        {{ end }}
      </ul>
    </details>
    {{ if ne (add $i 1) (len $pagesGroupedByYear) }}<hr>{{ end }}
    {{ end }}
  {{ end }}
  {{- if not .Data.Singular }}
  <hr>
  <h2 id="categories">
    {{ i18n "categories" }}
    <a href='{{ "categories/#categories" | absURL }}'>%</a>
  </h2>
  {{- $categories := sort .Site.Taxonomies.categories "Page.Name" }}
  {{- if $categories }}
  <div class="tag-cloud">
    {{- range $categories }}
    <a href="{{ .Page.Permalink }}" class="tag-pill">%{{ .Page.Name | lower }}<span class="tag-count">{{ len .Pages }}</span></a>
    {{- end }}
  </div>
  {{- else }}
  <p>{{ i18n "noCategories" }}</p>
  {{- end }}
  <hr>
  <h2 id="tags">
    Tags
    <a href='{{ "posts/#tags" | absURL }}'>#</a>
  </h2>
  <div class="tag-cloud">
    {{- range sort .Site.Taxonomies.tags "Page.Name" }}
    <a href="{{ .Page.Permalink }}" class="tag-pill">#{{ .Page.Name | lower }}<span class="tag-count">{{ len .Pages }}</span></a>
    {{- else }} {{ i18n "noTags" }} {{- end }}
  </div>
  {{- end }}
  </div>
  </content>

  {{- if and .Data.Singular (eq .Name "coding") }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
  // Coding posts data (extracted from Hugo pages, filtered by platform)
  const leetCodePostDates = [
    {{ range .Pages }}{{ if (findRE "leetcode" .File.BaseFileName) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
  const byteByteGoPostDates = [
    {{ range .Pages }}{{ if (findRE "bytebytego" .File.BaseFileName) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
  const aocPostDates = [
    {{ range .Pages }}{{ if (findRE "(aoc|advent)" .File.BaseFileName) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
  const otherCodingPostDates = [
    {{ range .Pages }}{{ if and (not (findRE "leetcode" .File.BaseFileName)) (not (findRE "bytebytego" .File.BaseFileName)) (not (findRE "(aoc|advent)" .File.BaseFileName)) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
</script>
<script src="/coding-chart.js?v={{ now.Unix }}"></script>
{{- end }}
{{- end }}
