{{- define "main" }}
<content>
  <h2 id="posts">
    {{- if .Data.Singular }}
      Posts tagged with #{{ .Name }} ({{ len .Pages }})
    {{- else }}
      {{ $postsThisYear := where .Site.RegularPages "Date" "ge" (time (printf "%d-01-01" now.Year)) }}
      All Posts ({{ len .Pages }})<sup class="gray">({{ printf "%d" now.Year }}: {{ len $postsThisYear }})</sup>
    {{- end }}
    <sup>(<a href='{{ (.OutputFormats.Get "RSS").Permalink }}'>rss</a>)</sup>
  </h2>

  <ul class="blog-posts">
    {{- range .Pages }}
    <li>
      <span>
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate class="pubdate-list">
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </span>
      <a href="{{ .Permalink }}">
        {{- if in .Params.tags "bestof" }}
        <span>★</span>
        {{- end }}
        {{ .Title }}
      </a>
    </li>
    {{- else }}
    <li>
      No posts yet
    </li>
    {{- end }}
  </ul>
  {{- if not .Data.Singular }}
  <h2 id="tags">
    Tags
    <a href='{{ "posts/#tags" | absURL }}'>#</a>
  </h2>
  <small>
    <div>
      {{- range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">#{{ .Page.Name }}</a><sup class="gray">({{ len .Pages }})</sup>
      {{- else }}
      No tags yet
      {{- end }}
    </div>
  </small>
  {{- end }}
</content>
{{- end }}
