{{- define "main" }}
<content>
  {{- $pages := .Pages }}
  {{- if not .Data.Singular }}
    {{- $filteredPages := slice }}
    {{- range .Pages }}
      {{- if not (in .Params.tags "coding") }}
        {{- $filteredPages = $filteredPages | append . }}
      {{- end }}
    {{- end }}
    {{- $pages = $filteredPages }}
  {{- end }}

  <h2 id="posts">
    {{- if .Data.Singular }} Posts tagged with #{{ .Name }} ({{ len .Pages }})
    {{- else }} All Posts ({{ len $pages }}) {{- end }}
    <a href='{{ (.OutputFormats.Get "RSS").Permalink }}' class="rss-link">rss</a>
  </h2>

  {{- if .Data.Singular }}
  {{- partial "search-widget.html" (dict "contentSelector" "#posts-content" "includeTags" (slice .Name)) }}
  {{- else }}
  {{- partial "search-widget.html" (dict "contentSelector" "#posts-content" "excludeTags" (slice "coding")) }}
  {{- end }}

  <div id="posts-content">
  {{- if and .Data.Singular (eq .Name "coding") }}
  <!-- Cumulative Problems Solved Graph -->
  <div style="margin: 2rem 0;">
    <h3>Progress</h3>
    <canvas id="cumulative-chart" style="width: 100%; height: 400px;"></canvas>
  </div>
  {{- end }}


  {{ $currentYear := now.Year | printf "%d" }}
  {{ $pagesGroupedByYear := $pages.GroupByDate "2006" }}

  {{ if not $pagesGroupedByYear }}
    <ul class="blog-posts">
      <li>No posts yet</li>
    </ul>
  {{ else }}
    {{ range $i, $group := $pagesGroupedByYear }}
    <details class="year-group" {{ if eq $group.Key $currentYear }}open{{ end }}>
      <summary><strong>{{ $group.Key }}</strong> ({{ len $group.Pages }} {{ if eq (len $group.Pages) 1 }}post{{ else }}posts{{ end }})</summary>
      <ul class="blog-posts">
        {{ $lastDate := "" }}
        {{ range $group.Pages }}
        {{ $currentDate := .Date.Format "02 Jan, 2006" }}
        <li>
          <span>
            <time
              datetime='{{ .Date.Format "2006-01-02" }}'
              pubdate
              class="pubdate-list"
            >
              {{ if ne $currentDate $lastDate }}
                {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
              {{ end }}
            </time>
          </span>
          <a href="{{ .Permalink }}">
            {{- if in .Params.tags "bestof" }}
            <span>★</span>
            {{- end }} {{ .Title }}
          </a>
        </li>
        {{ $lastDate = $currentDate }}
        {{ end }}
      </ul>
    </details>
    {{ if ne (add $i 1) (len $pagesGroupedByYear) }}<hr>{{ end }}
    {{ end }}
  {{ end }}
  {{- if not .Data.Singular }}
  <hr>
  <h2 id="tags">
    Tags
    <a href='{{ "posts/#tags" | absURL }}'>#</a>
  </h2>
  <div class="tag-cloud">
    {{- range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" class="tag-pill">#{{ .Page.Name }}<span class="tag-count">{{ len .Pages }}</span></a>
    {{- else }} No tags yet {{- end }}
  </div>
  {{- end }}
  </div>
</content>

{{- if and .Data.Singular (eq .Name "coding") }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
  // Coding posts data (extracted from Hugo pages, filtered by platform)
  const leetCodePostDates = [
    {{ range .Pages }}{{ if (findRE "leetcode" .File.BaseFileName) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
  const byteByteGoPostDates = [
    {{ range .Pages }}{{ if (findRE "bytebytego" .File.BaseFileName) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
  const aocPostDates = [
    {{ range .Pages }}{{ if (findRE "(aoc|advent)" .File.BaseFileName) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
  const otherCodingPostDates = [
    {{ range .Pages }}{{ if and (not (findRE "leetcode" .File.BaseFileName)) (not (findRE "bytebytego" .File.BaseFileName)) (not (findRE "(aoc|advent)" .File.BaseFileName)) }}'{{ .Date.Format "2006-01-02" }}',{{ end }}{{ end }}
  ];
</script>
<script src="/coding-chart.js?v={{ now.Unix }}"></script>
{{- end }}
{{- end }}
