<style>
	@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Vollkorn&display=swap');

	:root {
		--system-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", Roboto, Ubuntu, Helvetica, Oxygen, Arial, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--system-family-mono: SF Mono, Menlo, Monaco, "Ubuntu Mono", monospace;
		--font-default: Vollkorn, "Noto Serif", "IBM Plex Sans", var(--system-family);
		--font-interface: var(--system-family);
		--font-mono: Fira Code, PT Mono, Input Mono, var(--system-family-mono);
	}

	body {
		font-family: var(--font-default);
	}

	h1, h2, h3, h4, h5, h6, footer, nav, .toc, .post-meta {
		font-family: var(--font-interface);
	}

	code, pre {
		font-family: var(--font-mono);
	}
</style>
