<style>
	body {
		font-family: "Crimson Pro", Vollkorn,Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Noto Serif, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	}

	h1, h2, h3, h4, h5, h6, footer, nav, .toc, .post-meta {
		font-family: Inter, Fira Sans, system-ui, -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Cantarell, Arial, sans-serif;
	}

	code, pre {
		font-family: Fira Code, PT Mono, Menlo, Consolas, Monaco, Liberation Mono, Ubuntu Mono, Lucida Console, monospace;
	}
</style>
