<style>
	@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Serif&display=swap');

	:root {
		--system-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--system-family-default: Noto Serif, var(--system-family);
		--system-family-interface: var(--system-family);
		--system-family-mono: Fira Code, PT Mono, Input Mono, SF Mono, Menlo, Monaco, monospace;
	}

	body {
		font-family: var(--system-family-default);
	}

	h1, h2, h3, h4, h5, h6, footer, nav, .toc, .post-meta {
		font-family: var(--system-family-interface);
	}

	code, pre {
		font-family: var(--system-family-mono);
	}
</style>
