{{- $author := dict "@type" "Person" "name" .Site.Params.Author.name "url" .Site.BaseURL -}}

{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify | safeJS }},
  "description": {{ .Site.Params.description | jsonify | safeJS }},
  "url": {{ .Site.BaseURL | jsonify | safeJS }},
  "author": {{ $author | jsonify | safeJS }}
}
</script>
{{- else if .IsPage -}}
{{- $schemaType := cond (eq .Section "posts") "BlogPosting" "Article" -}}
{{- $datePublished := "" -}}
{{- $dateModified := "" -}}
{{- with .Date -}}
  {{- $datePublished = .Format "2006-01-02T15:04:05-07:00" -}}
{{- end -}}
{{- with .Lastmod -}}
  {{- $dateModified = .Format "2006-01-02T15:04:05-07:00" -}}
{{- end -}}
{{- $description := .Description | default .Summary | plainify | truncate 160 -}}
{{- $baseURL := .Site.BaseURL | strings.TrimSuffix "/" -}}
{{- $breadcrumb := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" $baseURL) -}}
{{- if .Section -}}
  {{- $sectionTitle := .Section | humanize | title -}}
  {{- $sectionURL := printf "%s/%s/" $baseURL .Section -}}
  {{- $breadcrumb = $breadcrumb | append (dict "@type" "ListItem" "position" 2 "name" $sectionTitle "item" $sectionURL) -}}
  {{- $breadcrumb = $breadcrumb | append (dict "@type" "ListItem" "position" 3 "name" .Title) -}}
{{- else -}}
  {{- $breadcrumb = $breadcrumb | append (dict "@type" "ListItem" "position" 2 "name" .Title) -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": {{ $schemaType | jsonify | safeJS }},
      "headline": {{ .Title | jsonify | safeJS }},
      "description": {{ $description | jsonify | safeJS }},
      "url": {{ .Permalink | jsonify | safeJS }},
      {{- if $datePublished }}
      "datePublished": {{ $datePublished | jsonify | safeJS }},
      {{- end }}
      {{- if $dateModified }}
      "dateModified": {{ $dateModified | jsonify | safeJS }},
      {{- end }}
      "author": {{ $author | jsonify | safeJS }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink | jsonify | safeJS }}
      }
      {{- with .Params.tags -}}
      ,"keywords": {{ . | jsonify | safeJS }}
      {{- end }}
    },
    {
      "@type": "BreadcrumbList",
      "itemListElement": {{ $breadcrumb | jsonify | safeJS }}
    }
  ]
}
</script>
{{- end -}}
