# yaml-language-server: $schema=../../schemas/hugo.json
# Minimal config for fast pre-commit validation builds.
enableGitInfo: false
outputs:
  home:
    - HTML
  section:
    - HTML
  taxonomy:
    - HTML
  term:
    - HTML
  page:
    - HTML
